*.swp
*.sqlite3
*.pyc
*.log
*.gz
*.log.[0-9]*
**/run
*.pid
/venv
/periodic_task_logs
/feed_exports
**/KML/
**/junk
**/db_dumps
**/site_media
**/hotels/images
**/retail/images
**/bandetector/images
local_settings.py
celerybeat-schedule
*.pjson
*.json
*.jlines
*.p 
/deb_dist
qtierna.egg-info/

